#parent {
    width: 200px;
    border: 1px solid green;
}

#child {
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 30px;
    margin-left: 20px;
    height: 150px;
    border: 1px solid blue;
}