#elem {
	border-width: 5px;
	border-style: double;
	border-color: blue;
	width: 200px;
	height: 150px;
}
#bocks {
	border-width: 5px;
	border-style: dotted;
	border-color: red;
	width: 200px;
	height: 150px;
}